/* Buttons */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  background: var(--app-grey-color);
  border-radius: 8px;
  gap: 8px;
  border: 1px solid;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  @mixin button-active($bg-color) {
    background-color: $bg-color;
    &:active {
      background-color: darken($bg-color, 5%);
      // Можно добавить дополнительные стили для активного состояния
      box-shadow: none; // например, удалить тень
    }
  }
  &-accent {
    @include button-active($accent-color);
  }
  &-success {
    color: white;
    @include button-active($green-color);
  }
  &-outline{
    background: none;
    color: var(--app-grey-color);
    border: 1px solid currentColor !important;
    &:active {
      background: rgba(#000, 0.05);
    }
  }
}
