@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
// global.sass
@import "root";
@import "reset";
@import "ui";

body {
  width: 100%;
  color: var(--app-default-text-color);
  font-family: "Onest", sans-serif;
  min-height: 100vh;
  background: linear-gradient(0deg, var(--app-grey-color-light), white);

  #__root {
    min-height: 100vh;
  }
}
.container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  nav#switch-menu {
    overflow: hidden;
    display: flex;
    text-align: center;
    border-radius: 12px;
    width: calc(100% - 40px);
    margin: 0 20px 20px;
    a {
      display: inline-flex;
      flex: 1;
      background-color: #E4E4E4;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 10px;
      text-decoration: none;
      &.active {
        background-color: var(--app-default-text-color);
        color: #FFFFFF;
        svg {
          color: var(--app-accent-color);
        }
      }
    }
  }
  main {
    flex: 1;
    padding-bottom: 50px;
  }
  footer {
    text-align: center;
    padding: 30px;
    margin: 0 auto;
  }
}

.row {
  width: 100%;
  display: flex;
  gap: 20px;
  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
    padding: 0 15px;
  }
}
#teleports {
  position: relative;
  z-index: 10010010099;
}
.car-list-wrapper {
  width: 100%;
}
.filters-wrapper {
  @media screen and (max-width: 576px) {
    display: none;
  }
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: all 0.4s;
}
.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.is_qform {
  .qform-field {
    .qform-field_att-in_left,
    .qform-field_att-out_left,
    .qform-field_shift-box {
      display: none !important;
    }
    .qform-field.radio.qform-list-in-row .qform-other-item__box {
      margin-left: 0 !important;
    }
  }
}

.w-full {
  width: 100%;
}
